.comments {
  @include gradient;

}

.comments .carousel-card {
  background-color: rgba($white, 0.8);
}

.comments .carousel-buttons i {
  line-height: 0;
  font-size: 1.5rem;
}

.comments hr {
  width: 100px;
  height: 3px;
}